<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  @for (location of locations(); track location.id) {
  <li [ngbNavItem]="location.id">
    <button ngbNavLink>
      {{ location.weatherData.city_name }}, {{ location.weatherData.state_code }} ({{
      location.zipCode }})
      <span class="btn-close ms-3 fw-light" (click)="close($event, location.id)"></span>
    </button>
    <ng-template ngbNavContent>
      <app-weather-description [weatherData]="location.weatherData"></app-weather-description>
    </ng-template>
  </li>
  }
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
