<div class="d-flex flex-column min-vh-100">
  <header
    class="d-flex align-items-center justify-content-between px-4 py-3 px-md-5 border-bottom border-secondary shadow rounded bg-light"
  >
    <div class="d-flex align-items-center gap-2 fw-semibold fs-1 t">
      <i class="bi bi-cloud fs-1 text-primary"></i>
      <span class="fs-1 text-black">Weather.</span>
    </div>
    <button
      ngbTooltip="Settings"
      id="settings-button"
      [autoClose]="true"
      [openDelay]="100"
      [closeDelay]="100"
      class="btn btn-primary rounded-circle shadow-sm border-0"
      (click)="openSettings()"
    >
      <i class="bi bi-gear-wide"></i>
    </button>
  </header>
  <main class="flex-grow-1 p-4 p-md-5"><router-outlet></router-outlet></main>
</div>
